.form {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin: auto;
}
.buttonsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.formLabel {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	margin: 0.7rem;
	display: block;
	transition: all 0.3s;
	transform: translateY(0rem);
}

.formInput {
	font-family: 'Roboto', sans-serif;
	color: #333;
	font-size: 1.2rem;
	margin: 0 auto;
	padding: 1.5rem 2rem;
	border-radius: 0.2rem;
	background-color: rgb(255, 255, 255);
	border: none;
	width: 80%;
	display: block;
	border: 1px solid #ccc;
	transition: all 0.3s;
}

.formInput:placeholder-shown + .formLabel {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-4rem);
	transform: translateY(-4rem);
}

.customSelect {
	appearance: none;
	padding: 0.5rem;
	font-size: 1rem;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #fff;
	color: #333;
	cursor: pointer;
}

.customSelect:focus {
	outline: none;
	box-shadow: 0 0 3px 1px rgba(0, 123, 255, 0.5);
}

.customSelect option {
	padding: 0.5rem;
}
